{{#each blogs as |blog| }}
<div class="container">
    <div class="row">
        <h2>
            <a href="/blogs/{{blog.id}}">{{blog.title}}</a>
        </h2>
        <p>Post created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
    </div>
    <div class="row">
    <p>
        {{blog.text}}
    </p>
</div>
</div>
{{/each}}